<h1><%= @idea.title %></h1>
<p><%= @idea.body %></p>
<h4>Created by: <%= @idea.user&.full_name || 'DELETED'%></h4>
<p><%= @idea.created_at %></p>

<% if can?(:crud,@idea)%>
<%= link_to "Edit", edit_idea_path(@idea)%>
<%= link_to "Delete", idea_path(@idea), method: :delete, data: { confirm: "Are you sure?" } %>
<% end %> 

<%= render 'reviews/form'%>
<br> 
<% @idea.reviews.each do |review| %>
<%= review.body %>

<% if can? :crud, review %>
<%= link_to("Delete Review", idea_review_path(@idea, review), method: :delete, data:{confirm: 'Are you sure?'})%>
<% end %>
<hr>

<% end %>